@page "/authors/edit"
@using Microsoft.EntityFrameworkCore
@using lybrariebookshop.Models
@inject IDbContextFactory<lybrariebookshop.Data.lybrariebookshopContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Author</h2>
<hr />
@if (Author is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Author" OnValidSubmit="UpdateAuthor" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Author.Id" value="@Author.Id" />
                <div class="mb-3">
                    <label for="firstname" class="form-label">FirstName:</label>
                    <InputText id="firstname" @bind-Value="Author.FirstName" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Author.FirstName" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="lastname" class="form-label">LastName:</label>
                    <InputText id="lastname" @bind-Value="Author.LastName" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Author.LastName" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="username" class="form-label">UserName:</label>
                    <InputText id="username" @bind-Value="Author.UserName" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Author.UserName" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="createdate" class="form-label">CreateDate:</label>
                    <InputDate id="createdate" @bind-Value="Author.CreateDate" class="form-control" />
                    <ValidationMessage For="() => Author.CreateDate" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="modifydate" class="form-label">ModifyDate:</label>
                    <InputDate id="modifydate" @bind-Value="Author.ModifyDate" class="form-control" />
                    <ValidationMessage For="() => Author.ModifyDate" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/authors">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private long Id { get; set; }

    [SupplyParameterFromForm]
    private Author? Author { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Author ??= await context.Author.FirstOrDefaultAsync(m => m.Id == Id);

        if (Author is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateAuthor()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Author!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!AuthorExists(Author!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/authors");
    }

    private bool AuthorExists(long id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Author.Any(e => e.Id == id);
    }
}
